/* src/App.css */
* {
  margin: 0;
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  padding-top: 0.5rem;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.dvonnBotLogo{
  width: 10rem;
}
.gameArea {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem 0.1rem lightgray;
  border: 1px solid firebrick;
  padding: 1rem;
  gap: 1rem;
}
.boardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}



label {
  font-size: 0.9rem;
}

.dvonnRotateIcon {
  width: 1rem;
}

.playerStatusArea {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}
.playerStatusBox {
  border: 1px dashed black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  min-width: 8rem;
  gap: 0.3rem;
  /* flex-basis: 8rem; */
  
  font-family: monospace;
  background-color: white;
}
.playerStatusName {
  flex-grow: 1;
  flex-shrink: 0;
}
.active {
  box-shadow: 0 0 0.4rem 0.1rem firebrick;
}
.winner {
  box-shadow: 0 0 0.3rem 0.3rem skyblue;
}

.playerColorBlock {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
}
.player0ColorBlock {
  background-color: #aaa;
}
.player1ColorBlock {
  background-color: black;
}


.gameSettingsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  
  /* background-color: lightblue; */
}
.botTypeArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 1px dashed lightgray;
}
.botTypeTitle {
  font-weight: bold;
  color: gray;
}
.botTypeArea {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.botTypeItem {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
}


.rotateIconContainer {
  /* width: 100%; */
  padding: 0;
  /* padding-right: 0.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dvonnRotateIconButton {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dvonnRotateIconButton:hover {
  background-color: lightgray;
}

.newGameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed lightgray;
  border-radius: 1rem;
  padding: 0.5rem;
  
  gap: 0.5rem;

  /* background-color: lightblue; */
}
.newGameTitle {
  font-weight: bold;
  color: gray;
}
.newGameSetupRadioArea {
  /* width: 100%;   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.newGameButton {
  color: black;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  
}
.newGameButton:hover {
  background-color: darkgray;
}
.newGameOptionItem {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
}

.gameOverText {
  font-size: 1.2rem;
  font-weight: bold;
  color: firebrick;
  
}
.infoArea {
  font-size: 0.9rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0.5rem;
  max-width: 500px; 

}
a, a:visited, a:active, a:hover {
  color: firebrick;
}