/* src/App.css */
* {
  margin: 0;
}

body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  padding-top: 0.5rem;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gameArea {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem 0.1rem lightgray;
  border: 1px solid firebrick;
  padding: 1rem;
}
.boardArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusArea {
  /* border: 1px solid black; */
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

label {
  font-size: 0.9rem;
}

.dvonnRotateIcon {
  width: 1rem;
}


.spacer {
  width: 100%;
}
.playerStatusArea {
  border: 1px dashed black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-width: 8rem;
  /* background-color: lightpink; */
  font-family: monospace;
  background-color: white;
}
.active {
  box-shadow: 0 0 0.4rem 0.1rem firebrick;
}
.winner {
  box-shadow: 0 0 0.3rem 0.3rem skyblue;
}

.playerColorBlock {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
}
.player0ColorBlock {
  background-color: #aaa;
}
.player1ColorBlock {
  background-color: black;
}

.settingsArea {
  color: darkslategray;
  background-color: white;
  border: 1px dashed lightgray;
  border-radius: 1rem;
  /* width: 20rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightgreen; */
  
}
.settingsArea label {
  font-size: 0.8rem;
}

.botTypeArea {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.settingsTitle {
  font-size: 0.8rem;
  font-weight: bold;
  border-bottom: 1px dashed gray;
}


.settingsForm {
  display: flex;
  flex-direction: column;
}
.dvonnBotLogo{
  width: 10rem;
}
.rotateIconContainer {
  /* width: 100%; */
  padding: 0;
  /* padding-right: 0.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dvonnRotateIconButton {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dvonnRotateIconButton:hover {
  background-color: lightgray;
}

.gameSettingsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* background-color: lightblue; */
}
.botTypeArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 1px dashed lightgray;
}
.botTypeTitle {
  font-weight: bold;
  color: gray;
}

.newGameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed lightgray;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-bottom: 0;
  /* background-color: lightblue; */
}
.newGameTitle {
  font-weight: bold;
  color: gray;
}
.newGameSetupRadioArea {
  /* width: 100%;   */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.newGameButton {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newGameButton:hover {
  background-color: lightgray;
}
.gameOverText {
  font-size: 1.2rem;
  font-weight: bold;
  color: firebrick;
  
}
.infoArea {
  font-size: 0.9rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0.5rem;
  max-width: 500px; 

}
a, a:visited, a:active, a:hover {
  color: firebrick;
}